/*Fonts*/
@font-face {
	font-family: "timeburnerbold";
	src: url("Fonts/Timeburner/timeburnerbold.ttf");
}
@font-face {
	font-family: "timeburnernormal";
	src:url("Fonts/Timeburner/timeburnernormal.ttf");
}
@font-face {
	font-family: "Bellota-Bold";
	src:url("Fonts/Bellota/Bellota-Bold.otf");
	}
@font-face {
	font-family: "Bellota-BoldItalic";
	src:url("Fonts/Bellota/Bellota-BoldItalic.otf");
}
@font-face {
	font-family: "Bellota-Italic";
	src:url("Fonts/Bellota/Bellota-Italic.otf");
}
@font-face {
	font-family: "Bellota-Light";
	src:url("Fonts/Bellota/Bellota-Light.otf");
}
@font-face {
	font-family: "bellota-LightItalic";
	src:url("Fonts/Bellota/Bellota-LightItalic.otf");
}
@font-face {
	font-family: "Bellota-Regular";
	src:url("Fonts/Bellota/Bellota-Regular.otf");
}

/*-----------------------------------------------------------------------*/

/* main elements */
main	{
	display: block;
	background-color: Lavender; 
	border: 0px 1.47601476% 0px 1.47601476%;
	max-width: 78.59778597785979%;
	height:100%;
	margin-top: 0.73800738%;
	margin-right:1.47601476%;
	margin-left: -1.47601476%;
	clear: both;
	padding: 0px 1.47601476% 0px 1.47601476%;
	overflow: hidden;
}
body	{
	display: block;
	background-color: Lavender; 
	border: 0.7380073800738007%;
	max-width:81.18081180811808%;
	margin: 0% 20.66420664206642% 0% 0.7380073800738007%;
	clear:both;
	overflow: hidden;
}
/*Body Divs*/
div.bodycontent{
	display:block;
	position:absolute;
	top: 1%;
	width: 78.59778597785979%;
	height: 72.22222222222221%;
	background-color: MediumAquaMarine;
	margin-right:0%;
	margin-left:0%;
	bottom:0.9090909090909091%;
	overflow: hidden;
}
div.body1 {
	display: inline-block;
	background-color: limegreen;
	position: relative;
	top: 2%;
	width:44.6%;
	height:51%;
	margin-left:0.9090909090909091%;
	padding: 0% 1% 0% 1%;
	overflow: hidden;
}
div.body2 {
	display: inline-block;
	background-color: Salmon;
	position: relative;
	top: -49.5%;
	width:48.3%;
	height:51%;
	margin-left:48.5%;
	padding: 0 1% 0 1%;
	overflow: hidden;
}
div.body3 {
	display: inline-block;
	background-color: FireBrick;
	position: relative;
	top: -48%;
	width:50%;
	height:41.6%;
	margin-left:1%;
	padding: 0 1% 0 1%;
	overflow: hidden;
}
div.body4 {
	display: inline-block;
	background-color: SeaGreen;
	position: relative;
	top: -90%;
	width:43%;
	height:41.5%;
	margin-left:54%;
	padding: 0 10px 0 10px;
	overflow: hidden;
}

/*-----------------------------------------------------------------------*/

header {
	display:block;
	position:absolute;
	width: 78.59778597785979%;
	height:23.14814814814815%;
	top:75%;
	background-color: PaleGoldenRod;
	margin-right:0;
	margin-left: 0px;
	overflow: hidden;
}
/*header divs*/
.backinfo {
	display:inline-block;
	background-color: lightblue;
	position: absolute;
	top:80px;
	width:455px;
	padding:10px 10px 10px 10px;
	height:40px;
	margin-right:900px;
	margin-left:200px;
	overflow: hidden;
}
.digitalbay {
	display: inline-block;
	background-color: coral;
	position: absolute;
	width:41.36363636363636%;
	height:60px;
	top:0px;
	margin-top:10px;
	margin-right:560px;
	margin-left:200px;
	padding: 0 10px 0 10px;
	overflow: hidden;
}
div.nav {
	display: inline-block;
	position: absolute;
	background-color: lightblue;
	top:10px;
	margin-right:0px;
	margin-left:685px;
	padding: 10px 0px 10px 0px;
	height:110px;
	width:380px;
	overflow: hidden;
}
.contact {
	display: inline-block;
	background-color: Chocolate;
	position: absolute;
	top: 10px;
	width:160px;
	height:60px;
	margin-left:10px;
	padding: 0 10px 0 10px;
	overflow: hidden;
}
.contact2 {
	display: inline-block;
	background-color: DeepPink;
	position: absolute;
	top: 80px;
	width:160px;
	height:60px;
	margin-left:10px;
	padding: 0 10px 0 10px;
	overflow: hidden;
}
/*nav divs*/
div.drop1 {
	position: absolute;
	display: inline-block;
	width:5em;
	height:100%;
	top: -22%;
	left: 5%;
	overflow: hidden;
}
div.drop2 {
	position: relative;
	display: inline-block;
	width:20%;
	height:100%;
	left:30%;
	overflow: hidden;
}
div.drop3 {
	position: relative;
	display: inline-block;
	width:20%;
	height:100%;
	left:60%;
	overflow: hidden;
}
div.sourcesnav {
	transform: rotate(90deg);
	transform-origin: left top 0;
	position: absolute;
	display: block;
	width:20%;
	height:100%;
	top: 25%;
	left:23.5em;
	overflow: hidden;
}

/*-----------------------------------------------------------------------*/

/*sidebars*/
aside	{
	display: block;
	background-color: Lavender; 
	border: 4%;
	max-width:20.66420664206642%;
	margin: 0px 4% 0px 0px;
	clear:both;
	overflow: hidden;
}
div.aside	{
	display: block;
	background-color: Lavender; 
	border: 4%;
	max-width:20.66420664206642%;
	margin: 0px 4% 0px 0px;
	clear:both;
	overflow: hidden;
}
div.extrainfo {
	background-color: rgba(139, 0, 139, 0.50); 
	position: fixed;
	top: 10px;
	bottom: 50em; 
	right: 0.5em;
	width: 18.45018450184502%;
	height: 45%;
	margin: 0 auto;
	clear: all;
	padding-left: 5px;
	padding-right: 5px;
	overflow: hidden;
}
div.moreinf {
	background-color: rgba(64, 224, 208, 0.50);
	position: fixed;
	top: 50%; 
	bottom: 1%;
	right: 0.5em;
	height:45%;
	width: 18.45018450184502%;
	margin: 0 auto;
	clear: all;
	padding-left: 5px;
	padding-right: 5px;
	overflow: hidden;
}

/*-----------------------------------------------------------------------*/

/*text elements*/
h1		{
	color: #F0F8FF; 
	size: 60px;
	font-family: Bellota-Bold;
	word-spacing: 5px;
}
h1.header		{
	color: #F0F8FF; 
	size: 60px;
	font-family: Bellota-Bold;
	word-spacing: 5px;
	margin:0.25em;
}
h1.BlockQuote	{
	color: #F0F8FF; 
	size: 30px;
	font-family: Bellota-Bold;
	word-spacing: 5px;
}
h2		{
	color: #F0F8FF;
	size: 25px;
	font-family: timeburnerbold;
	word-spacing: 5px;
}
h3		{
	color: #F0F8FF;
	size: 22.5px;
	font-family: timeburnerbold;
	word-spacing: 5px;
}
p 		{
	color: dodgerblue;
	size: 20px;
	font-family: Bellota-Light;
	word-spacing: 5px;
}
p.header	{
	color: #F0F8FF;
	size: 20px;
	font-family: Bellota-Light;
	word-spacing: 5px;
	margin-top:0.25em;
}
p.header2	{
	color: #F0F8FF;
	size: 20px;
	font-family: Bellota-Light;
	word-spacing: 5px;
}
p.sidebar	{
	color: dodgerblue;
	size: 20px;
	font-family: Bellota-Light;
	word-spacing: 5px;
}
p.ArabicIndent {
	direction: ltr;
	color: black;
}
table {
	display: block;
	border: 1px solid #F0F8FF;
	border-collapse:collapse;
}
td 		{
	color: #F0F8FF;
	size: 20px;
	font-family: Bellota-Light;
	text-align: center;
	word-spacing: 5px;
	padding: 7px 7px 7px 7px;
}
th 		{
	color: #F0F8FF;
	size: 22.5px;
	font-family: timeburnerbold;
	word-spacing: 5px;
	padding:7px 7px 7px 7px;
}
ul.sidebar{
	padding:20px;
}
ul.innersidebar{
	padding:12px;
}
li		{
	color: dodgerblue;
	size: 20px;
	font-family: Bellota-Light;
	word-spacing: 5px;
}
li.h		{
	color: DarkViolet;
	size: 20px;
	font-family: Bellota-Light;
	word-spacing: 5px;
}
li.sidebar		{
	color: darkmagenta;
	size: 18px;
	font-family: Bellota-Light;
	word-spacing: 5px;
}
li.sidebar2		{
	color: rgba(250, 250, 250, 0);
	size: 18px;
	font-family: Bellota-Light;
	word-spacing: 5px;
}
big		{
	color: dodgerblue;
	size: 22px;
	font-family: Bellota-Light;
	word-spacing: 5px;
}
small		{
	color: dodgerblue;
	font-family: Bellota-Light;
	word-spacing: 5px;
}
blockquote.bigIndent		{
	color: dodgerblue;
	size: 20px;
	font-family: Bellota-Light;
}
center.h1	{
	color: #F0F8FF;
	size: 60px;
	font-family: Bellota-Light;
	word-spacing: 5px;
}
footer 	{
	background-color: lightcyan; 
	clear: both;
	padding-left: 150px;
	float: bottom;
}
a:link    {
	color:#9932CC; 
	background-color:transparent; 
	text-decoration:none;
}
a:visited {
	color:#9932CC; 
	background-color:transparent; 
	text-decoration:none;
}
a:hover   {
	color: black; 
	background-color:transparent; 
	text-decoration:none;
}
a:active  {
	color:#9932CC; 
	background-color:transparent; 
	text-decoration:none;
}

/*-----------------------------------------------------------------------*/

/*text over images*/
.image { 
   position: relative; 
   width: 100%; /* for IE 6 */
}

h1.image { 
   position: absolute; 
   top: -20px; 
   left: 70px; 
   width: 100%; 
}
h1 span { 
   color: white; 
   font-family: bold 24px/45px Bellota-Bold;  
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.0);
   padding: 10px; 
}

/*-----------------------------------------------------------------------*/

/* iframe */
iframe{
    -ms-transform:scale(0.7);
    -moz-transform:scale(0.7);
    -o-transform: scale(0.7);
    -webkit-transform: scale(0.7);
    transform:scale(0.7);
}
iframe.work{
    -ms-transform:scale(0.5);
    -moz-transform:scale(0.5);
    -o-transform: scale(0.50);
    -webkit-transform: scale(0.50);
    transform:scale(0.50);
    top:-500px;
}
iframe {
    position: relative;
    top:-200px;
    left:-360px;
    height:2000px;
    width:1500px;
}
div.wrapper {
	overflow: hidden;
    height:1000px;
    width:760px;
}

/*-----------------------------------------------------------------------*/

/*Dropdown Menu */
.dropdown {
    position: relative;
    display: inline-block;
    width: 20%;
    height:100%;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #F0F8FF;
    min-width: 100%;
    height:100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}
.dropdown:hover .dropdown-content {
	position:absolute;
    display: block;
    top:0%;
}
/*extra dropdowns*/
.dropdown2 {
    position: relative;
    display: inline-block;
    width: 200%;
    height:100%;
    top:-8.7em;
}
.dropdown3 {
    position: relative;
    display: inline-block;
    width: 200%;
    height:100%;
    top:-17.5em;
}

/*-----------------------------------------------------------------------*/

/*slideshow*/
.css-slideshow{
   position: absolute;
   max-width: 100%;
   height: 100%;
   margin: 0% 0px 0% 0%;
}
.css-slideshow figure{
   margin: 0;
   position: absolute;
}
.css-slideshow figcaption{
   position: absolute;
   top: 0;
   color: #fff;
   background: rgba(0,0,0, .3);
   font-size: .8em;
   padding: 5px 5px 5px 5px;
   opacity: 0;
   -webkit-transition: opacity .5s;
   transition: opacity .5s;
}
.css-slideshow:hover figure figcaption{
   -webkit-transition: opacity .5s;
   transition: opacity .5s;
   opacity: 1;
}
.css-slideshow figure{
   opacity:0;
}

/*slideshow timings*/
figure:nth-child(1) {
   -webkit-animation: xfade 48s 42s infinite;
           animation: xfade 48s 42s infinite;
}
figure:nth-child(2) {
   -webkit-animation: xfade 48s 36s infinite;
           animation: xfade 48s 36s infinite;
}
figure:nth-child(3) {
   -webkit-animation: xfade 48s 30s infinite;
           animation: xfade 48s 30s infinite;
}
figure:nth-child(4) {
   -webkit-animation: xfade 48s 24s infinite;
           animation: xfade 48s 24s infinite;
}
figure:nth-child(5) {
   -webkit-animation: xfade 48s 18s infinite;
           animation: xfade 48s 18s infinite;
}
figure:nth-child(6) {
   -webkit-animation: xfade 48s 12s infinite;
           animation: xfade 48s 12s infinite;
}
figure:nth-child(7) {
   -webkit-animation: xfade 48s 6s infinite;
           animation: xfade 48s 6s infinite;
}
figure:nth-child(8) {
   -webkit-animation: xfade 48s 0s infinite;
           animation: xfade 48s 0s infinite;
}
@-webkit-keyframes xfade{
   0%{
      opacity: 1;
   }
   10.5% {
      opacity:1;
   }
   12.5%{
      opacity: 0;
   }
   98% {
      opacity:0;
   }
   100% {
      opacity:1;
   }
}